@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes popUp {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.page-transition {
  animation: slideInFromBottom 0.6s ease-in-out, popUp 0.3s ease-in-out forwards;
  position: relative;
}

body {
  background: var(--color-black);
}
